$app-pink: #e59494;
$app-pink-light: #fde6f1;
$app-pink-dark: #68123b;
$app-gray: #444;
$app-beige: #e3d4cb;




html, body {
    margin: 0;
    padding: 0;
}

.app-container {
  background: $app-pink-light;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: $app-gray;
  padding-bottom: 50px;
  margin-top: 0;
  padding-top: 0;
}

/* HEADER */
.header {
  background: linear-gradient(135deg, $app-pink, $app-pink-dark);
  text-align: center;
  padding: 40px 20px;
  color: white;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .title {
    font-size: 2.6rem;
    margin-bottom: 10px;
  }

  .subtitle {
    opacity: 0.9;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}

/* NAVIGATION */
.navbar {
  background: white;
  padding: 12px;
  display: flex;
  //justify-content: center;
  gap: 1rem;
  border-bottom: 2px solid $app-pink;

  button {
    background: $app-pink;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $app-pink-dark;
      transform: scale(1.05);
    }
  }
}
